# Build Folders
bin/
obj/
out/

# Visual Studio / Rider / VS Code files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
*.snupkg
.nuget/

# ASP.NET Core / IIS
appsettings.Development.json
*.db
*.log

# Rider
.idea/

# OS Generated
.DS_Store
Thumbs.db

# JetBrains Rider caches
.idea/
*.iml
